.movieimg{
    width: 250px;
    height: 400px;
}
body {
    background-color: #333; 
    color: white;
}
.hidden {
    display: none;
}
.button {
    background-color: #953300; /* Замените #953300 на цвет, который вам нравится */
    color: #fff; /* Цвет текста на кнопке */
    border: none;
    padding: 10px 20px; /* Размер кнопки */
    border-radius: 5px; /* Закругление углов кнопки */
    cursor: pointer; /* Изменение формы указателя при наведении */
}

/* Применяется к кнопкам при наведении */
.button:hover {
    background-color: #b84d00; /* Цвет при наведении (может отличаться от обычного цвета) */
}
